<html>
<head lang="fr">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 

   <!-- <link rel="stylesheet" href="../../assets/CSS/cssTD6exo1.css"> -->
</head>

<body>
    <div class="main row black">
  
      <div class="menu row  black col s12 m2 xl2 center">
        
        <ul class="white-text"><li class="col s3 m3 l12 xl12 ">oane</li><li class="col s3 m3 l12 xl12">tou</li><li class="col s3 m3 l12 x12">tri</li><li class="col s3 m3 l12 xl12">for</li></ul>
      </div>
  
      <div class="col s12 m12 l10 xl10 white">
  
              <div class="row">
  
                  <div class="col s8 m8 l8 xl8">
                      <h4>Lorem, ipsum dolor.</h4>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam eius minima similique, doloribus soluta architecto expedita sapiente iure quia molestias tempora, quas ullam unde, saepe fugit cumque? Odit assumenda minus, error quibusdam nesciunt ex
                      reiciendis! Non, maiores? Odio, nemo omnis!
                  </div>
  
                  <div class="col s4 m4 l4 xl4" >
                      <h4>Lorem, ipsum dolor.</h4>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam eius minima similique, doloribus soluta architecto expedita sapiente iure quia molestias tempora, quas ullam unde, saepe fugit cumque? Odit assumenda minus, error quibusdam nesciunt ex
                      reiciendis! Non, maiores? Odio, nemo omnis!
                  </div>
              </div>
  
              <div class="row" >
  
                  <div class="col s6 m6 l6 xl6">
                      <h4>Lorem, ipsum dolor.</h4>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam eius minima similique, doloribus soluta architecto expedita sapiente iure quia molestias tempora, quas ullam unde, saepe fugit cumque? Odit assumenda minus, error quibusdam nesciunt ex
                      reiciendis! Non, maiores? Odio, nemo omnis!
                  </div>
                  <div class="col s6 m6 l6 xl6">
                      <h4>Lorem, ipsum dolor.</h4>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam eius minima similique, doloribus soluta architecto expedita sapiente iure quia molestias tempora, quas ullam unde, saepe fugit cumque? Odit assumenda minus, error quibusdam nesciunt ex
                      reiciendis! Non, maiores? Odio, nemo omnis!
                  </div>
              </div>
  
              <div class="row">
  
                  <div class="col s12 m12 l10 xl10">
                      <h4>Lorem, ipsum dolor.</h4>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam eius minima similique, doloribus soluta architecto expedita sapiente iure quia molestias tempora, quas ullam unde, saepe fugit cumque? Odit assumenda minus, error quibusdam nesciunt ex
                      reiciendis! Non, maiores? Odio, nemo omnis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptatem consequatur, voluptas quod at amet natus non perspiciatis molestias excepturi reiciendis sint nostrum ipsam. Sapiente
                      quibusdam corrupti ipsum eius. Maiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique id illo nisi placeat error dolores sit, facere numquam ipsa beatae eaque minima aliquid voluptatibus sunt a. Corporis enim ad
                      unde perferendis reprehenderit necessitatibus deleniti libero dolores, qui voluptatum molestiae praesentium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab libero voluptatibus quam. Praesentium aliquam earum facilis cupiditate
                      commodi obcaecati distinctio nostrum temporibus dicta esse impedit, eligendi consequatur quidem assumenda! Alias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem a suscipit numquam? Est, distinctio ex quam provident
                      unde doloremque explicabo totam nisi quia culpa blanditiis ratione? Libero dolore reprehenderit tempore velit ex, reiciendis numquam adipisci. Molestias perferendis repellat sint ea? Lorem ipsum dolor sit, amet consectetur adipisicing
                      elit. Recusandae iure rem delectus aut earum? Omnis explicabo qui deleniti minus ipsum pariatur beatae incidunt in laborum sequi, deserunt neque sit blanditiis dolores enim repudiandae aliquam! Accusamus quis dicta eos veniam et?
  
                  </div>
                  <div class="col s5 m5 l2 xl2" >
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam eius minima similique, doloribus soluta architecto expedita sapiente iure quia molestias tempora, quas ullam unde, saepe fugit cumque? Odit assumenda minus, error quibusdam nesciunt ex
                      reiciendis! Non, maiores? Odio, nemo omnis!
                  </div>
              </div>
  
  
  
              <div class="row">
  
                  <div class="col s12 m12 l4 xl4">
                      <h4>Lorem, ipsum dolor.</h4>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam eius minima similique, doloribus soluta architecto expedita sapiente iure quia molestias tempora, quas ullam unde, saepe fugit cumque? Odit assumenda minus, error quibusdam nesciunt ex
                      reiciendis! Non, maiores? Odio, nemo omnis!
                  </div>
  
                  <div class="col s6 m6 l4 xl4" >
                      <h4>Lorem, ipsum dolor.</h4>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam eius minima similique, doloribus soluta architecto expedita sapiente iure quia molestias tempora, quas ullam unde, saepe fugit cumque? Odit assumenda minus, error quibusdam nesciunt ex
                      reiciendis! Non, maiores? Odio, nemo omnis!
                  </div>
  
                  <div class="col s6 m6 l4 xl4" >
                      <h4>Lorem, ipsum dolor.</h4>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam eius minima similique, doloribus soluta architecto expedita sapiente iure quia molestias tempora, quas ullam unde, saepe fugit cumque? Odit assumenda minus, error quibusdam nesciunt ex
                      reiciendis! Non, maiores? Odio, nemo omnis!
                  </div>
  
              </div>
  
  
  
  
  
              <div class="row"  >
  
                  <div class="col s6 m6 l2 xl2" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus aut quasi omnis doloremque sapiente vero nobis quaerat, excepturi cumque similique ratione blanditiis. Necessitatibus at eos veritatis dolore, asperiores odit officia.</div>
                  <div class="col s6 m6 l2 xl2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus aut quasi omnis doloremque sapiente vero nobis quaerat, excepturi cumque similique ratione blanditiis. Necessitatibus at eos veritatis dolore, asperiores odit officia.</div>
                  <div class="col s6 m6 l2 xl2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus aut quasi omnis doloremque sapiente vero nobis quaerat, excepturi cumque similique ratione blanditiis. Necessitatibus at eos veritatis dolore, asperiores odit officia.</div>
                  <div class="col s6 m6 l2 xl2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus aut quasi omnis doloremque sapiente vero nobis quaerat, excepturi cumque similique ratione blanditiis. Necessitatibus at eos veritatis dolore, asperiores odit officia.</div>
                  <div class="col s6 m6 l2 xl2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus aut quasi omnis doloremque sapiente vero nobis quaerat, excepturi cumque similique ratione blanditiis. Necessitatibus at eos veritatis dolore, asperiores odit officia.</div>
                  <div class="col s6 m6 l2 xl2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus aut quasi omnis doloremque sapiente vero nobis quaerat, excepturi cumque similique ratione blanditiis. Necessitatibus at eos veritatis dolore, asperiores odit officia.</div>
  
  
              </div>
  
          </div>
  
      </div>
  
  
  </body>
  
  </html>
  