<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../assets/CSS/flexTest.css">
</head>

<body>

<div class="flex-container">

    <p class="item un">Nunquam manifestum solitudo.1</p>

    <p class="item de">Cum olla ire, omnes lixaes convertam altus, azureus toruses.2</p>

    <p class="item tr">Equiso brevis itineris tramitem est.3</p>

    <p class="item qu">Era brevis zelus est.4</p>

    <p class="item ci">Ubi est barbatus mensa?5</p>

    <p class="item si">Superbus itineris tramitems ducunt ad canis.6</p>



</div>

</body>
</html>
