nav ul
{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: orange;
    list-style: none;
}
nav ul li 
{
    width: 100%;
    height: 3rem;
    text-align: center;
    border-top:  1px solid white;
    margin: 0;

}

nav ul li a 
{
    color:  antiquewhite;
    text-decoration: none;
    display: block;
    
    
}

nav ul li:hover
{
    background-color: darkgoldenrod;
}

@media screen and (min-width: 30em)
{
    nav ul
    {
        flex-direction: row;
        justify-content:space-between;
        border: 1px solid black ;
    }

    nav ul li
    {
        width: 14%;
        height: 3rem;
        text-align: none;
        margin: 0;
        border-top:  none;
        
    }

    nav ul li a 
    {
        color:  antiquewhite;
        text-decoration: none;
        display: inline;
    
    
    }
}

@media screen and (min-width: 40em)
{
    nav ul
    {
        flex-direction: row;
        justify-content:flex-end;
        border: 1px solid black ;
    }

    nav ul li
    {
        width: 5rem;
        height: 3rem;
        text-align: none;
        margin: 0;
        border-top:  none;
    }

    nav ul li a 
    {
        color:  antiquewhite;
        text-decoration: none;
        display: inline;
    
    
    }
}