<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/CSS/cssTD3Exo1.css">
</head>

<body>

<!-- partie 1 : unités de taille pour les boites
-->
<h3> des boites de différentes tailles avec différentes unités </h3><br/>
<!-- les boite ayant une largeur en px ne change pas de largeur quand la fenêtre ce réduit -->
<p class="px72">72px</p>
<p class="px96">96px</p>
<p class="px480">480px</p>
<p class="pt72">72pt</p>
<p class="px100">100px</p> 
<p class="inch1">1 inch</p>
<p class="pourc20"> 20%</p><!--Varie et relatif au conteneur englobant vw = % de la largeur d'affichage disponible(largeur du viewport) vh= % de la hauteur d'affichage disponible (hauteur du viewport) em relatif à la font-size du parent  rem relatif à la font-size par défaut-->
<p class="vw20"> 20 vw</p><!--Varie et vh aussi-->
<p class="em5"> 5em</p>
<p class="cm5">5cm</p>

<p id="premierTest">960px</p> <!--1 inch =96px ou 1inch =72pt donc 1px css n'est pas un pixel d'écran mais une taille fixe-->
<p id="deuxiemeTest">10inch</p>


<!-- partie 2 : unités de taille dans un contexte

<div class="px480">
   <p class="pourc100"> 100%</p>
   <p class="pourc20"> 20%</p>
   <p class="vw20"> 20 vw</p>
   <p class="vh20"> 20vh</p>

 </div>

<div class="f36">
    <p class="em5"> 5em</p>
</div>

<hr>
-->



</body>
</html>
