<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>des boites !</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/CSS/cssTD3Exo3.css">
</head>

<body>




<!-- marges horizontales -->

<h1> un petit tour du côté des marges horizontales </h1>

<div class="bh">bh</div>
<div class="bh">bh</div>
<div class="bh">bh</div>
<div class="bh">bh</div>


<br><hr><br>

<h1> un petit tour du côté des marges verticales </h1>

<div class="bv mgBottom">boite verticale n°1</div>
<div class="bv mgTop">boite verticale n°2</div>


<br><hr><br>

<div class="bv3 mgBottom"></div>
<div class="bv2 mgTop">
    <div class="bv mgTop">boite élémentaire</div> <!-- On constate qu'en ajoutant la marge top il y'a un ecart avec la boite bv2 et bv3 par contre si on ajoute une marge à la boite supérieur rien ne ce passe -->
</div><!-- si on ajoute une marge bottom a bv3 alors l'écart entre bv2 et bv3 augmente-->



</body>
</html>
