<!DOCTYPE html>
<html lanf="fr">
<head>
        <meta charset="utf-8">
        <title>image</title>
        <meta name="description" content="exercice média-query">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/CSS/cssTD4Exo2.css" >
</head>
<body>

    <header> <h1>Les images c'est important</h1>
    </header>

    <picture id="picture1">
        <source media="(min-width: 640px)"
                srcset="../../assets/Image/crop/cat-cropped-small.jpg 640w,
            ../../assets/Image/large/cat-1920x1285.jpg 1920w,
            ../../assets/Image/medium/cat-1024.jpg 1024w,
            ../../assets/Image/small/cat-400x266.jpg 400w" 
            alt="a cat">

                <img src="../../assets/Image/medium/cat-1024.jpg" alt="chat">

            
        
    </picture>

    

</body>
</html>
